<body>
  <div class="banner">
    <div class="banner__contents"></div>
    <h1 class="banner__title">Squid Game</h1>
    <div class="banner__fadebottom"></div>
  </div>
  <div class="icons">
    <img src="https://i.ibb.co/JpKZFzF/1486564722-thumbs-up-like-81538.png" />
    <div>
      <p>2021</p>
    </div>
    <button class="TV">TV-MA</button>
    <div>
      <p>1 Season</p>
    </div>
    <div class="HD">HD</div>
    <div class="atmos">ATMOS</div>
  </div>
  <div class="season">
    <div class="seasonnumber">S1:E1</div>
    <div class="episodename">Red Light, Green Light</div>
  </div>
  <br />
  <div class="watch">
    <div class="line">
      <div class="progress"></div>
    </div>
  </div>
  <br />
  <div class="info">
    <p>
      Hoping to win easy money, a broke and desperate Gi-hun agrees to take part
      in an enigmatic game. Not long into the first round, unforeseen horrors
      unfold.
    </p>
    <br />
    <p>Cast: Lee Jung-jae, Park Hae-soo, Wi Ha-jun</p>
    <p>Creator: Hwang Dong-hyuk</p>
    <br />
  </div>
  <div class="pics">
    <div class="plussign">
      <img src="https://i.ibb.co/vh13S0h/plus-60-16.png" alt="" />
    </div>
    <div class="thumbsup">
      <img
        src="https://i.ibb.co/JpKZFzF/1486564722-thumbs-up-like-81538.png"
        alt=""
      />
    </div>
  </div>
  <div class="under">
    <div class="mylist">My List</div>
    <div class="rated">Rated</div>
  </div>
  <br />
  <div class="seasonnumber">SEASON 1</div>
  <div class="episodes">
    <div class="episode1">
      <img src="https://i.ibb.co/2hZY9FN/EP-1.jpg" alt="" />
    </div>
    <div class="episode2">
      <img src="https://i.ibb.co/tM215nf/EP-2.jpg" alt="" />
    </div>
  </div>
</body>
